/*******************************************/
/* TESTIMONIALS SECTION */
/*******************************************/

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    padding: 4rem 2rem; 
    border-radius: 10px;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; 
    border-radius: 10px; 
    padding: 2rem; 
}

.testimonial:hover {
    transform: translateY(-5px);
}

.testimonial-img {
    border-radius: 50%;
    margin-bottom: 1.2rem;
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
    border: 3px solid #e67e22; 
}

.testimonial-text {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    line-height: 1.5; 
    color: #333; 
}

.testimonial-name {
    font-size: 1.6rem;
    font-weight: bold; 
    margin-top: 1rem; 
    color: #e67e22; 
}

.testimonial {
    position: relative; 
}

.testimonial::before {
    content: "“"; 
    font-size: 3rem; 
    color: #e67e22; 
    position: absolute; 
    top: -20px; 
    left: 20px; 
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* Maintain aspect ratio */
    object-fit: cover;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/* Disable hover scaling on touch devices */
@media (hover: none) {
    .gallery-item img:hover {
        transform: none; /* Disable scaling */
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
    height: 54%;
}

.no-flexbox-gap .gallery {
    margin-inline: 1.6rem;
}

.testimonials-container {
    padding: 9.6rem;
}

@media (max-width: 768px) {
    .testimonials {
        flex-direction: column; 
        align-items: center;
    }

    .testimonial {
        width: 90%; 
        margin-bottom: 2rem; 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.testimonial {
    animation: fadeIn 0.5s ease forwards; /* Apply animation */
}
